.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // background-color: lightcoral;
  background: var(--bg-gradient);

  &__form {
    background-color: #fff;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: min(500px, 90%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    // background-color: rgba(255, 255, 255, 0.9);
    // backdrop-filter: blur(50px);

    @media (prefers-color-scheme: dark) {
      background-color: var(--gray-100);
      box-shadow: 0 0 10px invert($color: rgba(0, 0, 0, 0.1));
    }

    &_header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 24px;

      > div {
        h2 {
          font-size: var(--md-font);
          padding-bottom: 5px;
        }

        p {
          font-size: var(--sm-font);
          color: var(--gray-700);
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      //   gap: max(2vw, 15px);
      gap: clamp(15px, 2vw, 24px);

      button {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        cursor: pointer;

        font-size: 16px;
        width: 100%;
        padding: max(0.7vw, 10px);
        outline: none;
        border: 1px solid var(--gray-500);
        border-radius: 5px;
        font-size: var(--sm-font);

        @media screen and (max-width: 1024px) {
          width: calc(16px / 15px * 100%);
          transform: scale(calc(15px / 16px));
          transform-origin: left top;
          margin-bottom: -6.6666666px;
        }

        @media screen and (max-width: 768px) {
          width: calc(16px / 14px * 100%);
          transform: scale(calc(14px / 16px));
          transform-origin: left top;
          margin-bottom: -6.6666666px;
        }

        @media screen and (max-width: 540px) {
          width: calc(16px / 13px * 100%);
          transform: scale(calc(13px / 16px));
          transform-origin: left top;
          margin-bottom: -6.6666666px;
        }

        @media screen and (max-width: 420px) {
          width: calc(16px / 12px * 100%);
          transform: scale(calc(12px / 16px));
          transform-origin: left top;
          margin-bottom: -6.6666666px;
        }
      }
    }

    > p {
      font-size: var(--xs-font);
      text-align: center;

      a {
        text-decoration: underline;
        color: var(--primary-color);
      }
    }
  }
}
