.chat {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease;

  &:hover {
    background-color: var(--gray-300);
  }

  &__info {
    // display: flex;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 7px;

    &_image {
      width: var(--xxl-font);
      height: var(--xxl-font);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        // object-fit: contain;
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //   justify-content: space-between;
      gap: 7px;

      h3 {
        font-size: var(--sm-font);
      }

      p {
        font-size: var(--xs-font);
        color: var(--gray-700);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: start;
        // width: 150px;
        width: max(170px, 15vw);
        width: 150px;

        @media screen and (max-width: 768px) {
          width: auto;
        }

        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
      }
    }
  }

  &__tag {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 7px;

    &_time {
      font-size: var(--xs-font);
      color: var(--gray-700);
    }

    &_unread {
      font-size: var(--xs-font);
      //   transform: scale(0.9);
      background-color: var(--primary-color);
      color: #fff;
      padding: 5px;
      border-radius: 50%;
    }
  }
}
