.logo {
  display: flex;
  align-items: center;
  gap: 7px;

  // svg {
  //   font-size: var(--lg-font);
  // }

  &__image {
    width: var(--lg-font);
    height: var(--lg-font);

    img {
      width: 100%;
      height: 100%;
    }
  }

  span {
    font-size: var(--md-font);
    // font-family: var(--dancingScript);
    // font-family: var(--yellowtail);
    // font-family: var(--ephesis);
    font-family: var(--birthstone);
  }
}
